.menu1{
    background-color: gray;
    color: whites;
    height: 100px;
}
.str1{
    height: 100px;
    width: 100px;
    margin-left: 10px;
   text-align: center;
   

}

.str2
{
    height: 100px;
    width: 50px;
    margin-left: 100px;
    margin-top: 0px;
    
}
.menu2{
    position: absolute;
    background-color: gray;
    color: white;
    height: auto;
    width: 120px;
}